# Ejericios repaso de python
### Secuencias

1. Crear una lista con los n´umeros del 1 al 10. Acceder con el ´ındice a la posici´on que
contiene el n´umero 5, e imprimirlo por pantalla. Recordar que el ´ındice de las listas
empiezan con 0.

In [5]:
lista = []
for n in range(1,11):
  lista.append(n)
print(f"La lista es {lista}")

print(f"El 5 se encuentra en el indice: ",lista.index(5))

La lista es [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
El 5 se encuentra en el indice:  4

2. Con la lista del punto anterior, usar la funci´on len() para averiguar su longitud, e
imprimirla.

In [6]:
len(lista)

10

3. Crear una secuencia con n´umeros distintos, y luego devolver el elemento m´aximo y el
m´ınimo.

In [8]:
import random
secuencia = []
for n in random.sample(range(1,1000),100):
  secuencia.append(n)

print(f"La lista es {secuencia}")
print(f"Maximo: {max(secuencia)}")
print(f"Minimo: {min(secuencia)}")

La lista es [732, 64, 175, 508, 590, 248, 438, 309, 794, 610, 73, 630, 938, 889, 464, 741, 576, 133, 875, 370, 243, 480, 645, 22, 44, 381, 3, 107, 527, 686, 719, 656, 804, 115, 846, 601, 223, 126, 339, 773, 127, 987, 63, 71, 712, 290, 394, 589, 618, 55, 353, 939, 195, 990, 318, 799, 603, 862, 395, 546, 276, 130, 295, 923, 979, 199, 682, 20, 906, 944, 797, 519, 240, 604, 80, 411, 974, 711, 506, 329, 784, 806, 434, 525, 213, 966, 478, 380, 58, 341, 215, 160, 972, 967, 327, 497, 345, 953, 940, 948]
Maximo 990
Minimo 3

4. Ordenar la secuencia del ejercicio anterior, e imprimirla por pantalla.

In [12]:
secuencia.sort()
secuencia

[3,
 20,
 22,
 44,
 55,
 58,
 63,
 64,
 71,
 73,
 80,
 107,
 115,
 126,
 127,
 130,
 133,
 160,
 175,
 195,
 199,
 213,
 215,
 223,
 240,
 243,
 248,
 276,
 290,
 295,
 309,
 318,
 327,
 329,
 339,
 341,
 345,
 353,
 370,
 380,
 381,
 394,
 395,
 411,
 434,
 438,
 464,
 478,
 480,
 497,
 506,
 508,
 519,
 525,
 527,
 546,
 576,
 589,
 590,
 601,
 603,
 604,
 610,
 618,
 630,
 645,
 656,
 682,
 686,
 711,
 712,
 719,
 732,
 741,
 773,
 784,
 794,
 797,
 799,
 804,
 806,
 846,
 862,
 875,
 889,
 906,
 923,
 938,
 939,
 940,
 944,
 948,
 953,
 966,
 967,
 972,
 974,
 979,
 987,
 990]

5. Crear una tupla que guarde tu nombre y tu edad. Luego, imprimir por pantalla tu
edad, accediendo al elemento de la tupla que corresponda.

In [15]:
yo = ('Nahuel',27)
print(f"Nombre: {yo[0]}")
print(f"Edad: {yo[1]}")

Nombre: Nahuel
Edad: 27

6. Hacer una lista con 5 nombres, y realizar las siguientes actividades con la misma:

a. Cambiar el ´ultimo elemento de la lista y cambiar el ´ultimo nombre por “Juan”.
¿C´omo podr´ıa saber cu´al es el ´ultimo elemento si no s´e la longitud?


b.  Devolver el nombre que est´e a dos posiciones del final.


c. Recorrer la lista e imprimir cada nombre por pantalla.


d. Imprimir por pantalla la lista con 3 repeticiones, usar el operador repetici´on (*).

In [11]:
nombres = ['Jorge', 'Ricardo', 'Raquel', 'Pachi', 'Cristian']
#a. Cambiar el ´ultimo elemento de la lista y cambiar el ´ultimo nombre por “Juan”. ¿C´omo podr´ıa saber cu´al es el ´ultimo elemento si no s´e la longitud?

nombres[-1] = 'Juan'
print(nombres)

# b. Devolver el nombre que est´e a dos posiciones del final.
print(nombres[-2])

#c. Recorrer la lista e imprimir cada nombre por pantalla.
for nombre in nombres:
  print(nombre)

#d. Imprimir por pantalla la lista con 3 repeticiones, usar el operador repetici´on (*).

for nombre in nombres:
  print(nombre*3)

['Jorge', 'Ricardo', 'Raquel', 'Pachi', 'Juan']
Pachi
Jorge
Ricardo
Raquel
Pachi
Juan
JorgeJorgeJorge
RicardoRicardoRicardo
RaquelRaquelRaquel
PachiPachiPachi
JuanJuanJuan

7. Se pide ahora crear 3 tuplas como las del ejercicio 5, con un nombre y una edad. A
continuaci´on, guardarlas en una lista

In [15]:
a = ('Jorge', 15)
b = ('Micaela', 22)
c = ('Nacho', 27)

lst_nombres = []

lst_nombres.append([a,b,c])

lst_nombres

[[('Jorge', 15), ('Micaela', 22), ('Nacho', 27)]]

## Listas y tuplas
1. Se quiere guardar informaci´on de los siguientes pa´ıses: Francia, Argentina, Jap´on, Alemania, Per´u.


a) Crear una tupla para cada pa´ıs que contenga su nombre, su capital y el continente
donde se encuentra


b) Guardar las tuplas en una lista.


c) Hacer una funci´on que reciba por par´ametros la lista, e imprima la informaci´on
de cada pa´ıs con el siguiente formato:


```Pa´ıs: <nombre>
Capital: <capital>
Continente: <continente>```
Por ejemplo:
Pa´ıs: Jap´on
Capital: Tokio
Continente: Asia

In [26]:
#a
francia = ('Francia', 'Paris', 'Europa')
argentina = ('Argentina','Buenos Aires','America del sur')
japon = ('Japon','Tokio','Asia')
alemania  = ('Alemania', 'Berlin', 'Europa')
peru = ('Peru','Lima','America del sur')

#b

paises = [francia,argentina,japon,alemania,peru]

print(paises)

#c
def imprimir_paises(lista):
  for pais in lista:
    print(f"Pais : {pais[0]} \nCapital: {pais[1]}\nContinente: {pais[2]}", end = '\n \n')

imprimir_paises(paises)

[('Francia', 'Paris', 'Europa'), ('Argentina', 'Buenos Aires', 'America del sur'), ('Japon', 'Tokio', 'Asia'), ('Alemania', 'Berlin', 'Europa'), ('Peru', 'Lima', 'America del sur')]
Pais : Francia
Capital: Paris
Continente: Europa

Pais : Argentina
Capital: Buenos Aires
Continente: America del sur

Pais : Japon
Capital: Tokio
Continente: Asia

Pais : Alemania
Capital: Berlin
Continente: Europa

Pais : Peru
Capital: Lima
Continente: America del sur

2. Se pide ahora crear 3 tuplas como las del ejercicio 5, con un nombre y una edad. A
continuaci´on, guardarlas en una lista.

In [28]:
a = ('Jorge', 15)
b = ('Micaela', 22)
c = ('Nacho', 27)

lst_nombres = [a,b,c]

lst_nombres

[('Jorge', 15), ('Micaela', 22), ('Nacho', 27)]

3. Una librer´ıa tiene un sistema que guarda los nombres de todos los libros que tienen en
una lista de la siguiente forma: [’El principito’, ’It’, ’Sherlock Holmes’...]. Se quiere saber
cu´antos libros repetidos tienen. Hacer c´odigo que imprima para cada t´ıtulo, cu´antos
ejemplares hay.

In [33]:
titulos_de_libros = [
    "Cien años de soledad",
    "El Gran Gatsby",
    "Don Quijote de la Mancha",
    "1984",
    "Matar un ruiseñor",
    "Crimen y castigo",
    "Cien años de soledad",  # Duplicado
    "Orgullo y prejuicio",
    "Matar un ruiseñor",     # Duplicado
    "El Gran Gatsby",        # Duplicado
]


titulos_de_libros.sort()
lista = []
duplicados = 0

for titulo in titulos_de_libros:
  if titulo not in lista:
    lista.append(titulo)
  else:
    duplicados +=1

print(f'Cantidad duplicados : {duplicados}\n\n')


for titulo in lista:
  print(f'Titulo libro: {titulo}\n Cantidad: {titulos_de_libros.count(titulo)}')

Cantidad duplicados : 3


Titulo libro: 1984
 Cantidad: 1
Titulo libro: Cien años de soledad
 Cantidad: 2
Titulo libro: Crimen y castigo
 Cantidad: 1
Titulo libro: Don Quijote de la Mancha
 Cantidad: 1
Titulo libro: El Gran Gatsby
 Cantidad: 2
Titulo libro: Matar un ruiseñor
 Cantidad: 2
Titulo libro: Orgullo y prejuicio
 Cantidad: 1

4. Crear una lista que contenga los n´umeros del 1 al 10, luego recorrerla y guardar en otra
lista esos n´umeros elevados al cuadrado.

In [34]:
lista = []
lista_cuadrado = []
for n in range(1,11):
  lista.append(n)
  lista_cuadrado.append(n**2)

print(lista)
print(lista_cuadrado)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5. Se tiene la siguiente lista de palabras: [“entender”, “pueden”, “humanos”, “los”, “que”,
“c´odigo”, “escriben”, ”programadores”, “buenos”, “Los”, “entiende.”, “computadora”,
“una”, “que”, “c´odigo”, “escribe”, “tonto”, “Cualquier”]. Hacer una funci´on que reciba
una lista, y devuelva un string uniendo las palabras desde el final de la lista hasta el
principio con un “ ” (espacio) entre cada una, para formar la frase.

In [54]:
palabras = ['entender', 'pueden', 'humanos', 'los', 'que',
'codigo', 'escriben', 'programadores', 'buenos', 'Los', 'entiende.', 'computadora',
'una', 'que', 'codigo', 'escribe', 'tonto', 'Cualquier']

def lista_a_string(palabras):
  oracion = ' '.join(palabras[::-1])
  return oracion

print(lista_a_string(palabras))

Cualquier tonto escribe codigo que una computadora entiende. Los buenos programadores escriben codigo que los humanos pueden entender

6. Se quiere hacer un sistema en la facultad para que un alumno pueda ir guardando las
materias que va haciendo. Para eso, crear una funci´on que le pregunte al usuario la
materia que quiere almacenar, e ir guardando la informaci´on en una lista hasta que
ingrese una ‘X’.
AYUDA: para guardar elementos nuevos en una lista usamos el m´etodo append().

In [1]:
def ingresar_materias():
  materias = []
  while True:
    materia = input('Ingrese la materia: ')
    if materia == 'x':
      break
    else: materias.append(materia)
  return materias

materias = ingresar_materias()
print(f'Cantidad de materias: {len(materias)}')
for materia in materias:
  print(f'Materia: {materia}')

Ingrese la materia: Matematica
Ingrese la materia: Literatura
Ingrese la materia: Religion
Ingrese la materia: x
Cantidad de materias: 3
Materia: Matematica
Materia: Literatura
Materia: Religion

7. Se tiene un ticket de supermercado que se puede representar como una lista de tuplas
(producto, precio).


a) Hacer una funci´on que reciba la lista y calcule y devuelva el total que hay que
pagar.


b) Ahora se tienen dos tickets. Juntar ambos y volver a calcular el total.

In [19]:
ticket_1 = [
    ("Manzanas", 3.99),
    ("Leche", 2.50),
    ("Pan", 1.25),
    ("Huevos", 2.75),
    ("Arroz", 2.10),
    ("Pasta", 1.75),
    ("Queso", 6.50),
    ("Yogur", 1.20),
    ("Pollo", 9.99),
    ("Carne molida", 8.25),
    ("Papas", 2.50),
    ("Cebollas", 1.00),
    ("Zanahorias", 0.75),
    ("Tomates", 2.25),
    ("Papel higiénico", 0.90),
    ("Detergente", 4.75),
    ("Jabón de manos", 1.50),
    ("Cepillo de dientes", 3.75),
    ("Champú", 5.50),
    ("Galletas", 2.00)]

def total_lista(ticket):
  sumador = 0
  for item in ticket:
    sumador += float(item[1])
  return sumador

print(f'El total de la lista es ${total_lista(ticket_1)}')

El total de la lista es $65.18

In [21]:
ticket_2 = [
    ("Aceite de oliva", 6.99),
    ("Café", 4.50),
    ("Chocolate", 2.75),
    ("Jamón", 7.25),
    ("Mantequilla", 1.95),
    ("Yogur griego", 1.50),
    ("Pavo", 8.50),
    ("Atún enlatado", 1.25),
    ("Salmón", 12.99),
    ("Cereales", 3.75),
    ("Naranjas", 2.50),
    ("Plátanos", 1.20),
    ("Pimiento rojo", 1.75),
    ("Sandía", 5.00),
    ("Cerveza", 9.50),
    ("Vino tinto", 15.75),
    ("Pasta de dientes", 2.25),
    ("Acondicionador", 4.25),
    ("Pan integral", 2.20),
    ("Galletas saladas", 1.80)
]


print(f'El total de la lista es ${total_lista(ticket_1 + ticket_2)}')

El total de la lista es $162.81